.nav-ul li{
  display: inline-block;
  padding: 12px;
  text-decoration: none;
}
.nav-ul{
  background-color: skyblue;
  padding: 5px;
  margin: 0px;
}
.nav-link{
  text-decoration: none;
  padding: 5px;
  color:red;
}
/* .nav-link:visited{
  color:rgb(73, 153, 51);
} */
.nav-link:hover{
  color:black;
}
.footer{
  position: absolute;
  bottom: 1px;
  /* padding:5px; */
  text-align: center;
  width: 100%;
  background-color: skyblue;
  color: #282c34b5;
}

.register {
  margin-left: 30%;
}
.register input{
  display: block;
  width: 300px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: 2px solid saddlebrown;
}
.register button{
  padding: 15px;
  background-color: #61dafb;
  margin-left: 120px;
  margin-top: 20px;
  cursor: pointer;
}
.addproduct {
  margin-left: 30%;
}
.addproduct input{
  display: block;
  width: 300px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: 2px solid saddlebrown;
}
.addproduct button{
  padding: 15px;
  background-color: #61dafb;
  margin-left: 120px;
  margin-top: 20px;
  cursor: pointer;
}

.login-head{
  margin-left: 30%;
}
.login-head input{
  display: block;
  width: 300px;
  padding: 10px;
  margin-left: 10x;
  margin-bottom: 20px;
  border: 2px solid saddlebrown;
}
.login-head button{
  padding: 15px;
  /* align-items: center; */
  margin-left: 13%;
  background-color: hsl(193, 95%, 68%);
  margin-top: 20px;
  cursor: pointer;
}
.nav-right{
  text-align: right;
}
.logo{
  float: left;
  width: 55px;
  margin-top: 9px;
  margin-left: 20px;
  border-radius: 60%;
}

.invalid {
  display: block;
  margin-top: -20px;
  margin-left: 20px;
  color: red;
}
.prod_list {
  text-align: center;
  margin-top: 50px;
}
.prod_list ul li{
  display: inline-block;
  padding: 10px;
  /* margin-trim: 1px; */
  /* margin-left: 2px; */
  border: 2px solid saddlebrown;
  width: 150px;
}
.prod_list ul li button{
  /* padding: 1px; */
  border: 1px solid saddlebrown;
  /* width: 50%; */
  /* display: inline-block; */
  margin: 0px;
  /* text-decoration: none; */
  cursor: pointer;

}
.link-style{
  text-decoration: none;
  color: black;
  /* background-color: #282c34; */
}
.prod_list ul{
  /* font-weight:bold; */
  margin: 0px;
}
/* .prod_list ul li {
  margin: 3px;
} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
