.nav-ul li{
  display: inline-block;
  padding: 12px;
  text-decoration: none;
}
.nav-ul{
  background-color: skyblue;
  padding: 5px;
  margin: 0px;
}
.nav-link{
  text-decoration: none;
  padding: 5px;
  color:red;
}
/* .nav-link:visited{
  color:rgb(73, 153, 51);
} */
.nav-link:hover{
  color:black;
}
.footer{
  position: absolute;
  bottom: 1px;
  /* padding:5px; */
  text-align: center;
  width: 100%;
  background-color: skyblue;
  color: #282c34b5;
}

.register{
  margin-left: 30%;
}
.register input{
  display: block;
  width: 300px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: 2px solid saddlebrown;
}
.register button{
  padding: 15px;
  background-color: #61dafb;
  margin-left: 120px;
  margin-top: 20px;
  cursor: pointer;
}


.login-head{
  margin-left: 30%;
}
.login-head input{
  display: block;
  width: 300px;
  padding: 10px;
  margin-left: 10x;
  margin-bottom: 20px;
  border: 2px solid saddlebrown;
}
.login-head button{
  padding: 15px;
  /* align-items: center; */
  margin-left: 13%;
  background-color: hsl(193, 95%, 68%);
  margin-top: 20px;
  cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
